* {
  font-size: 14px;
}

.modalHeader {
  padding: 16px 20px;
}
.modalHeader__nav {
  display: flex;
}

.modalHeader__nav li {
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 20px;
  padding-bottom: 0px;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  display: flex;
}

/* .modalHeader__signIn {
  border-bottom: 1px solid #fe696a;
  color: #fe696a;
  padding-bottom: 12px;
} */

.modalHeader__lockIcon {
  margin-bottom: 5px;
}

.modalHeader__personIcon {
  margin-bottom: 5px;
}

/* .modalHeader__signUp {
  padding-bottom: 12px;
} */
