// Override default variables before the import

$primary: #fe696a;
$primaryOp: unquote($primary + "4d");

// Import Bootstrap and its default variables

@import "~bootstrap/scss/bootstrap.scss";
.form-control {
  &:focus {
    border-color: $primaryOp;
    box-shadow: 0 0 0 0 transparent, 0 0.375rem 0.625rem -0.3125rem $primaryOp;
  }
}

.form-check-input {
  &:focus {
    outline-color: $primary;
  }
  //doesn't work
  &:checked {
    color: $primary;
  }
}
a {
  &:hover {
    text-decoration: none;
  }
}
.password-icon,
.cursor__pointer {
  &:hover {
    cursor: pointer;
    color: red;
  }
}
.close {
  &:focus {
    outline: none;
  }
}
.search-icon {
  z-index: 1;
  position: absolute;
  top: 0;
}

.input-group-text {
  background: transparent;
  border: none;
  padding: 10px;
}
.password-icon {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 2px;
}
